.intro {
  padding-top: 9rem;
  margin-top: 2rem;
  @media (max-width: 1200px) {
    padding-top: 90px;
    margin-top: 20px;
  }
  @media (max-width: 960px) {
    padding-top: 86px;
    margin-top: 15px;
  }
  @media (max-width: 768px) {
    padding-top: 68px;
  }
  @media (max-width: 480px) {
    margin-top: 31px;
  }
  // .intro__container

  &__container {
  }

  // .intro__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 24rem);
    @media (max-width: 1200px) {
      grid-template-rows: repeat(2, 220px);
    }
    @media (max-width: 960px) {
      grid-template-rows: repeat(2, 190px);
    }
    @media (max-width: 480px) {
      grid-template-rows: repeat(2, 131px);
    }
  }

  // .intro__item

  &__item {
    border-bottom: 0.1rem solid #e2e2e2;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    @for $i from 0 to 5 {
      &:nth-child(#{$i}) {
        transform: translateY(#{$i * 5 + 5}rem);
        transition-delay: #{$i * 30ms};
      }
    }
    .active & {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    @media (max-width: 1200px) {
      border-radius: 50px;
      border-bottom: 1px solid #e2e2e2;
    }
    @media (max-width: 960px) {
      grid-template-rows: repeat(2, 190px);
    }
    &:nth-child(odd) {
      border-right: 0.1rem solid #e2e2e2;
      background: linear-gradient(134deg, #d72968 0%, #015778 100%);
      @media (max-width: 1200px) {
        border-right: 1px solid #e2e2e2;
      }
    }
    &:nth-child(even) {
      border-left: 0.1rem solid #e2e2e2;
      background: linear-gradient(225deg, #d72968 0%, #015778 100%);
      @media (max-width: 1200px) {
        border-left: 1px solid #e2e2e2;
      }
    }
    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  // .intro__img

  &__img {
    max-width: 25rem;
    width: 100%;
    transition: all 300ms ease-in-out;

    @media (max-width: 1200px) {
      max-width: 225px;
      //   max-height: 183px;
      //   height: 100%;
    }
    @media (max-width: 960px) {
      max-width: 150px;
    }
    @media (max-width: 480px) {
      max-width: 100px;
      // height: 91px;
    }
  }

  // .intro__title

  &__title {
    margin-top: 3rem;
    font-weight: 700;
    font-size: 5.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    transform: translateY(20rem);
    opacity: 0;
    visibility: hidden;
    transition: all 400ms ease-in-out 200ms;
    .active & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    @media (max-width: 1200px) {
      margin-top: 30px;
      font-size: 54px;
    }
    @media (max-width: 1200px) {
      margin-top: 14px;
      font-size: 50px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
    }
    @media (max-width: 480px) {
      margin-top: 40px;
      font-size: 27px;
    }
  }
}
